body {
	background: rgb(244, 244, 244);
}

div#navbar {
	padding: 20px 5px 20px 5px;
	box-shadow: 0px 0px 4px #888888;
	background: white;
}

.navItem {
	margin: 0;
}

p.navItem a {
	color: #D500FF;
	text-decoration: none;
	font-size: 22px;
	font-weight: lighter;
}

img.navItem.logo {
	vertical-align: middle;
	height: 30px;
	width: auto;
}

.row.search {
	margin: 100px 5px 5px 5px;
}

#searchbox {
	/*padding-bottom: 50px;*/
}

input.searchbox {
	width: 100%;
	height: 50px;
	border: none;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	font-weight: lighter;
	color: rgb(255, 187, 0);
}

button#search {
	width: 100%;
	height: 50px;
	background: rgb(255, 197, 0);
	border: none;
	color: whitesmoke;
	font-weight: lighter;
	font-size: 25px;
}

button#search:hover {
	background: rgb(247, 192, 3);
}



path {
  fill: rgba(142, 7, 185, 1);
  stroke: rgba(177, 0, 255, 1);
}

object {
  /*visibility:hidden;*/
  /*opacity:0;*/
  transition:display 0.3s linear 0.5s,opacity 0.5s linear;
}