{% extends "master.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1> Who is Marti?</h1>
    <center><h2><font color="blue">Meet The Team!</font></h2>
</div>

</head>
<body>
<div id="content">

<center>
<div class="list-group" style="width:50%;">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Albert Toledo</h4>
    <p class="list-group-item-text">CSC Major</p>
    <p class="list-group-item-text">Project Manager</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Marcellus Williams</h4>
    <p class="list-group-item-text">CSC Major</p>
    <p class="list-group-item-text">Backend Engineer</p>
  </a>
    <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Britney Johnson</h4>
    <p class="list-group-item-text"> CSC Major</p>
    <p class="list-group-item-text">Frontend Engineer</p>
  </a>
    <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Roger Smith</h4>
    <p class="list-group-item-text">CIS Major</p>
    <p class="list-group-item-text">Backend Engineer</p>
  </a>
    <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">JaMerra Turner</h4>
    <p class="list-group-item-text">CIS Major</p>
    <p class="list-group-item-text">Frontend Engineer</p>
  </a>
</div>
</center>




{% endblock %}
